[Unit]
Description=Netdive Analyzer
Wants=network-online.target
After=network-online.target

[Service]
User=root
Restart=on-failure

#Change this line if you download ther

ExecStart=/usr/share/ablestack/ablestack-netdive/ablestack-netdive analyzer \
--conf /usr/share/ablestack/ablestack-netdive/netdive/netdive-analyzer.yml

[Install]
WantedBy=multi-user.target